body {
  box-sizing: border-box;
  margin: 0;
}

:root {
  --glacial-blue-ice: #2B8EAD;
  --hippie-blue: #6F98A8;
  --pale-slate: #BFBFBF;
  --pickled-bluewood: #2F454E;
  --dune: #333333;
  --soft-peach: #EFEFEF;
  --northen-lights-blue: #72C3DC;
}